<rd-accordion [autoClose]="false">
  <rd-panel [color]="'green'" *ngFor="let object of objectList; let i = index">
    <div class="accordeonTitle" title>Object {{i + 1}}</div>
    <div class="inputLine">
      <span>
        <rd-select [(value)]="object.type" [color]="'green'" [placeholder]="'Type'">
          <rd-select-option [value]="'sphere'" [text]="'Sphere'">
            <div class="selectOption">Sphere</div>
          </rd-select-option>
          <rd-select-option [value]="'cylinder'" [text]="'Cylinder'">
            <div class="selectOption">Cylinder</div>
          </rd-select-option>
          <rd-select-option [value]="'cone'" [text]="'Cone'">
            <div class="selectOption">Cone</div>
          </rd-select-option>
          <rd-select-option [value]="'hyperbole'" [text]="'Hyperbole'">
            <div class="selectOption last">Hyperbole</div>
          </rd-select-option>
        </rd-select>
      </span>

      <span>
        <rd-input [placeholder]="'Rayon'" [type]="'number'" [(value)]="object.r" [color]="'green'"></rd-input>
      </span>

      <span *ngIf="object.type !== 'sphere'">
        <rd-input [placeholder]="'Size'" [type]="'number'" [(value)]="object.size" [color]="'green'"></rd-input>
      </span>

      <span *ngIf="object.type === 'hyperbole'">
        <rd-input [placeholder]="'Center Size'" [type]="'number'" [(value)]="object.center" [color]="'green'"></rd-input>
      </span>
    </div>

    <div class="posForm">
      <div class="title">Position</div>
      <div class="inputLine">
        <span>
          <rd-input [placeholder]="'X'" [type]="'number'" [(value)]="object.pos.x" [color]="'green'"></rd-input>
        </span>

        <span>
          <rd-input [placeholder]="'Y'" [type]="'number'" [(value)]="object.pos.y" [color]="'green'"></rd-input>
        </span>

        <span>
          <rd-input [placeholder]="'Z'" [type]="'number'" [(value)]="object.pos.z" [color]="'green'"></rd-input>
        </span>
      </div>

      <div class="deleteButton">
        <rd-button [color]="'red'" (buttonClick)="deleteObject(i)">Delete</rd-button>
      </div>
    </div>
  </rd-panel>
  <rd-panel *ngIf="objectList.length < 5" (stateChange)="addObject()" [color]="'green'">
    <div title>New object</div>
  </rd-panel>

  <rd-panel [color]="'green'">
    <div class="posForm">
      <div class="title">Position</div>
      <div class="inputLine">
        <span>
          <rd-input [placeholder]="'X'" [type]="'number'" [(value)]="light.pos.x" [color]="'green'"></rd-input>
        </span>

        <span>
          <rd-input [placeholder]="'Y'" [type]="'number'" [(value)]="light.pos.y" [color]="'green'"></rd-input>
        </span>

        <span>
          <rd-input [placeholder]="'Z'" [type]="'number'" [(value)]="light.pos.z" [color]="'green'"></rd-input>
        </span>
      </div>
    </div>
  </rd-panel>
</rd-accordion>

