@import "../../style/variables";

.inputLine {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;

  &>span {
    padding: 0 $margin;
    flex: 1;
    min-width: 150px;
    box-sizing: border-box;
  }

  .selectOption {
    border-bottom: 1px $dark-green solid;
    padding: $margin $margin/2;

    &.last {
      border: none;
    }
  }
}

.posForm>.title {
  font-size: 16px;
  font-weight: bold;
  color: $colored-green;
  padding: $margin;
}

.deleteButton {
  margin: $margin 10%;
  width: 80%;
}
